a,body,div,form,html,img,input,label,p,span{
    margin:0;
    padding:0;
    border:0;
    font-family:sans-serif,Arial
}
 body,html{
    min-height:100%;
    overflow-x:hidden
}
 body{
    background:#a2a09b;
    background:-webkit-linear-gradient(315deg,hsla(236.6,0%,53.52%,1) 0,hsla(236.6,0%,53.52%,0) 70%),-webkit-linear-gradient(65deg,hsla(220.75,34.93%,26.52%,1) 10%,hsla(220.75,34.93%,26.52%,0) 80%),-webkit-linear-gradient(135deg,hsla(46.42,36.62%,83.92%,1) 15%,hsla(46.42,36.62%,83.92%,0) 80%),-webkit-linear-gradient(205deg,hsla(191.32,50.68%,56.45%,1) 100%,hsla(191.32,50.68%,56.45%,0) 70%);
     background:linear-gradient(135deg,hsla(236.6,0%,53.52%,1) 0,hsla(236.6,0%,53.52%,0) 70%),linear-gradient(25deg,hsla(220.75,34.93%,26.52%,1) 10%,hsla(220.75,34.93%,26.52%,0) 80%),linear-gradient(315deg,hsla(46.42,36.62%,83.92%,1) 15%,hsla(46.42,36.62%,83.92%,0) 80%),linear-gradient(245deg,hsla(191.32,50.68%,56.45%,1) 100%,hsla(191.32,50.68%,56.45%,0) 70%)
}
a{
    color:#486173
}

.cabecario{
    justify-content: center;
    display: flex;
    height: 153px;
    /* background-color: brown; */
   background-image: url(../img/Degrade.png);

}

.logoSenai{
    margin-top: 4vh;
    height: 80px;
    width: 225px;
}


h1{
    margin-right: 13vw;
}

 input,label{
    vertical-align:middle;
    white-space:normal;
     background:0 0;
    line-height:1
}
 label{
    position:relative;
    display:block
}
 p::first-letter{
    text-transform:uppercase
}
 .main{
    
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
}
 .ie-fixMinHeight{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
 .ico{
    height:16px;
    position:absolute;
    top:0;
    left:0;
    margin-top:13px;
    margin-left:14px
}
 .logo{
    max-width:200px;
    display:block;
    margin:0 auto 30px auto
}
 .logo *{
    fill:#fff
}
.lite .logo *{
    fill:#444
}
 h1{
    text-align:center;
    color:#fff;
    font-size:24px!important
}
 *{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-size:16px
}
 .wrap{
    margin:auto;
    padding:40px;
    -webkit-transition:width .3s ease-in-out;
    transition:width .3s ease-in-out
}
 @media only screen and (min-width:1px) and (max-width:575px){
    .wrap{
        
        width:100%
    }
}
 form{
    width:100%;
    margin-bottom:20px
}
@-webkit-keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
 .fadeIn{
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn
}
 .animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
 input{
    outline:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
 input:focus{
    outline:0
}
input [type= number], input[type= number]{
    width:100%;
    border:1px solid  rgba(255,255,255,.8);
    height: 44px;;
    padding: 3px 20px 3px 40px;
    margin-bottom: 20px;
    border-radius: 42px;
    background-color: #fff;
    border: 1px solid #c3c3c3;
    

}
input[type=email], input[type=email]{
    width:100%;
    border:1px solid  rgba(255,255,255,.8);
    height: 44px;;
    padding: 3px 20px 3px 40px;
    margin-bottom: 20px;
    border-radius: 42px;
    background-color:#fff;
    border: 1px solid #c3c3c3;
}  

 input[type=password], input[type=text]{
    width:100%;
    border:1px solid  rgba(255,255,255,.8);
    height: 44px;;
    padding: 3px 20px 3px 40px;
    margin-bottom: 20px;
    border-radius: 42px;
    background-color:#fff;
 }

 input[type=password]:focus, input[type=text]:focus{
    -webkit-box-shadow:0 0 5px 0 rgba(255,255,255,1);
    box-shadow:0 0 5px 0 rgba(255,255,255,1)
}
 .bt{
    opacity:.4
}
input[type=submit]{
    background:#e30613;
    color:#fff;
    border:0;
    cursor:pointer;
    text-align:center;
    width:100%;
    height:44px;
    border-radius:42px;
    -webkit-transition:.3s ease-in-out;
    transition:.3s ease-in-out
}
 input[type=submit]:focus,input[type=submit]:hover{
    background: #e30613;
}
table{
    border-collapse:collapse;
    width:100%;
    margin-bottom:20px
}
table td{
    color:#fff;
    border-bottom:1px solid #e6e6e6;
    padding:10px 4px 10px 0
}
 table td:first-child{
    font-weight:700
}
 .lite{
    background:#fff
}
 .lite input[type=password], .lite input[type=text]{
    border:1px solid #c3c3c3
}
 .lite .info,.lite h1,.lite table td{
    color:#444
}
 .lite input[type=password]:focus,.lite input[type=text]:focus{
    -webkit-box-shadow:0 0 5px 0 rgba(62,77,89,.2);
    box-shadow:0 0 5px 0 rgba(62,77,89,.2)
}
 .dark{
    background:#e30613;
}
.dark input[type=submit]{
    background:#dc3a41
}
 .dark input[type=submit]:focus,.dark input[type=submit]:hover{
    background:#b92f35
}
 .dark input[type=password], .dark input[type=text]{
    background-color:#fff
}
 .dark a{
    color:#dc3a41
}
 .dark table td{
    border-bottom:1px solid #505050
}
 .info.alert{
    color:#da3d41
}
@media (min-width:576px){
    .wrap{
        width:410px
    }
    *{
        font-size:14px!important
    }
}
